<!DOCTYPE html>
<html lang="en">
<head>
<title>Sahara</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="../static/javascript/common.js"></script>
</head>
<body>

<div class="header">
  <h1>Sahara</h1>
  <p>Like Amazon, but without the bugs</p>
</div>

<div class="navbar">
  <a href="{{url_for('root')}}">Home</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="openDropdown('userDropdown')">Hi John Doe!
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="userDropdown">
    <p>Current balance: <b>$0.00</b></p> 
    <a href="#">View Profile</a>
    <a href="#">Add Balance</a>
    <a href="#">Purchase History</a>
    <a href="#">Add/Modify Item</a>
    <a href="#">Selling History</a>
    <a href="#">Logout</a>
  </div>
  </div> 
  <a href="#" class="right">View Cart</a>
  
</div>

{% block content %}
{% endblock %}

<div class="footer">
  <h3>A CS316 Project</h3>
</div>

</body>
</html>
