<!DOCTYPE html>
<html lang="en">
<head>
<title>Mini Amazon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen">
</head>
<body>

<div class="header">
  <h1>Mini Amazon</h1>
  <p>Some sort of tagline</p>
</div>

<div class="navbar">
  <a href="{{url_for('home.html')}}" class="active">Home</a>
  <a href="#" class="right">Hi {{username}}!</a>
  <a href="#" class="right">View Cart</a>
</div>

<div class="footer">
  <h2>A CS316 Project</h2>
</div>

</body>
</html>
