<html>
<head></head>
<body>
	{% extends 'layout.html' %}
	{% block content %}
	<div class="row">
  		<div class="column" style="margin-right:20px">
  			<img src="../static/images/default-img.gif" alt="Default product image" class="productImage">
  		</div>
  		<div class="column" style="margin-left:5px">
  			<h2>{{data.item_name}}</h2>
  			<h4>{{data.description}}</h4>
  			<p>{{data.rating}} Stars</p>
  			<table class="results">
  				<tr>
  					<th>Seller</th>
  					<th>Price</th>
  					<th>Select Quantity</th>
  					<th>Add to Cart</th>
				</tr>
  				{% for seller in data.sellers_list %}
  				<tr>
  					<td>{{seller}}</td>
  					<td><i>TODO</i></td>
  					<td><i>TODO</i></td>
  					<td><i>TODO</i></td>
  				</tr>
  				{% endfor %}
  			</table>
  		</div>
	</div>
	<h3 class="bodytext">Reviews</h3>
  <a href="{{url_for('addreview', itemid = data.item_id)}}">Add a Review</a>
	<table class="results">
		{% for review in data.reviews_list %}
		<tr>
			<td>{{review.username}} </td>
			<td>{{review.rating}} Stars </td>
			<td>{{review.content}} </td>
		</tr>

		{% endfor %}
	</table>
	<br><br>
	{% endblock %}
</html>