<html>
<head></head>
<body>
	{% extends 'layout.html' %}
	{% block content %}
	<div class="row">
  		<div class="column" style="margin-right:20px">
  			<img src="../static/images/default-img.gif" alt="Default product image">
  		</div>
  		<div class="column" style="margin-left:5px">
  			<h2>A shirt</h2>
  			<h4>The description</h4>
  			<p>4.5/5 Stars</p>
  			<p style="text-align:center"><i>List of sellers with add to cart option would go here</i></p>
  		</div>
	</div>
	<p style="text-align:center"><i>List of reviews would go here</i></p>
	{% endblock %}
</html>