<html>
<head></head>
<body>
	{% extends 'layout.html' %}
	{% block content %}
  <div class="main">
	<div class="row">
  		<div class="column" style="margin-right:20px">
  			<img src="{{ url_for('send_file', filename=data.image) }}" class="productImage">
  		</div>
  		<div class="column" style="margin-left:5px">
  			<h2>{{data.item_name}}</h2>
  			<h4>{{data.description}}</h4>
  			<p> {% if data.rating == 0 %} No reviews yet
            {% else %} {{data.rating}} Stars
            {% endif %}
          </p>
  			<table class="results">
  				<tr>
  					<th>Seller</th>
  					<th>Price</th>
  					<th>Select Quantity</th>
  					<th>Add to Cart</th>
				</tr>
  				{% for seller in data.sellers_list %}
          <form action="{{url_for('addToCart')}}" id={{seller.username}} method="POST">
            <input type="hidden" id="seller" name="seller" value={{seller.username}}>
            <input type="hidden" id="price" name="price" value={{seller.price}}>
            <input type="hidden" id="itemid" name="itemid" value={{data.item_id}}>
          </form>
  				<tr>
  					<td>{{seller.username}}</td>
  					<td>{{seller.price}}</td>
  					<td><input type="number" required form={{seller.username}} id="quantity" name="quantity" min="1" max={{seller.stock}}></td>
  					<td><input type="submit" form={{seller.username}} value="Add to Cart"></td>
  				</tr>
  				{% endfor %}
  			</table>
        {% if session['seller'] and  not sellsItem %}
          <p><a href="{{url_for('addItem', itemid = data.item_id, itemname = data.item_name)}}">Add a listing for this item </a></p>
        {% endif %}
  		</div>
	</div>
	<h3>Reviews</h3>
  <p><a href="{{url_for('addreview', itemid = data.item_id)}}">Add a Review</a></p>
  <div>
	<table class="results">
		{% for review in data.reviews_list %}
		<tr>
			<td>{{review.username}} </td>
			<td>{{review.rating}} Stars </td>
			<td>{{review.content}} </td>
		</tr>

		{% endfor %}
	</table>
</div>
</div>
	{% endblock %}
</html>